apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-bbzs
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-deploy-tenant/appstudio/dc-metro-map-bbzs@sha256:ca9dd9e960f3241170205e1949d244fd6f9cd32b7dd223c7d536fcc103e1908c
        name: my-nodejs
        resources: {}
status: {}
